<h1> Directives</h1>
<h2 [style.color]="isActive?  'red' :  'blue' "
    [style.text-transform]="isActive? 'uppercase' :  'lowercase' "
>
   Directive Style
</h2>

<h3
[style]="{
  color: isActive? 'yellow' : 'white',
  textTransform: isActive? 'uppercase' : 'lowercase'
}"
>NgDirective Style
</h3>

<h1
[ngClass]="{
  'main': isActive,
  'text-wight' : isActive
}"
> NgDirective Style</h1>

<p>directives works!</p>
<p>{{postArray}}</p>
<ul>
  <li>{{postArray[0]}}</li>
  <li>{{postArray[4]}}</li>
  <li>{{postArray[2]}}</li>
</ul>

<ul>
  <li *ngFor="let post of postArray">{{post}}</li>
</ul>
<br>
<p>Feching Objet Array</p>

<button (click)="addNew();">Add new data</button>

<div *ngIf='objArray.length>0; then withData else noData '></div>

<!--
<div *ngIf="objArray.length==0">
  <p>There is no data to fetch  ...</p>
</div>
-->

<ng-template #withData>
  <u>
  <li *ngFor="let post of objArray">{{post | json}}</li>
</u>
<br>

<u>
  <li *ngFor="let post of objArray; ">
    {{post.postTitle}}
    <button (click)="onDelete(post);">Delete</button>

  </li>
</u>

<br>

<u>
  <li *ngFor="let post of objArray; let i = index">
    {{ i }} {{post.postTitle}}
    <button (click)="onDelete2(i);">Delete</button>

  </li>
</u>
</ng-template>


<ng-template #noData>
  <p>There is no data to fetch  ...</p>
</ng-template>

<!--Switch case -->

<div>
<button (click)="onClick('Step 1')">Step 1</button>
<button (click)="onClick('Step 2')">Step 2</button>
<button (click)="onClick('Step 3')">Step 3</button>
</div>
<!--
<div *ngIf="stepForm == 'Step 1'">Step 1 Form</div>
<div *ngIf="stepForm == 'Step 2'">Step 2 Form</div>
<div *ngIf="stepForm == 'Step 3'">Step 3 Form</div>
-->

<div [ngSwitch]="stepForm">
  <div *ngSwitchCase="'Step 1'">Step 1 Form</div>
  <div *ngSwitchCase="'Step 2'">Step 2 Form</div>
  <div *ngSwitchCase="'Step 3'">Step 3 Form</div>
  <div *ngSwitchDefault> Press a button</div>
</div>




