<h1>Angular App</h1>
<!--
<app-navbar-v2></app-navbar-v2>
<app-post [fromParent]='parentMessage' (messageEvent)='reciveMessage($event)'></app-post>

<h4>{{message}}</h4>
<h4>{{ fromChildOutput }}</h4>
-->

<!--String Interpolation
<p>
  {{ messageStr}}
</p>
-->
<!-- Property Binding
<img src="{{ imgUrl }} " alt="">
<br>


<img [src]="imgUrl" alt="">
-->
<!--Style Binding
<h1 [class.text-red] = "bool">Red color only if  bool var is true</h1>
<h1 [class.text-red] = "!bool">Red color only if  bool var is true</h1>
<h1 [style.color]=" bool? 'red' : 'blue' "> Style Binding</h1>
<h1 [style.color]=" !bool? 'red' : 'blue' "> Style Binding</h1>

-->
<!--Event Binding
<button (click)="buttonClick()">Click me!</button>

-->

<!--Event Filtering
<input type="text" (keyup)="onKeyUp()">
<br>
<input type="text" (keyup)="onKeyUp2($event)">
<br>
<input type="text" (keyup.enter)="onKeyUp3()">
<h4>{{message}}</h4>
-->

<!--Template Variables
<input type="text" (keyup.enter)="onKeyUp4(username.value)" #username>
<br>
-->
<!--Two Way Data Biding
<input type="text" [(ngModel)] = "userName" (keyup)="onKeyUp5()">
<h1>{{message}}</h1>
<br>
-->
<!--One Way And Two Way Data Biding-->
  <!--One Way
<input type="text" value="One way data biding">
<br>
<input type="text" [value]="messageStr">
<br>
<input type="text" [value]="messageStr" (keyup)="onKeyUp6()" >
-->
  <!--Two Way
<br>
<input type="text" [(ngModel)]="messageStr" (keyup)="onKeyUp7()" >
<h4>{{message}}</h4>
-->
<!--
<app-task></app-task>

<app-directives></app-directives>

<app-task-directives></app-task-directives>

<app-pipes></app-pipes>

<app-post></app-post>
<app-post-list></app-post-list>
-->
<div class="container mt-5">
  <form #f = 'ngForm' (submit)="onSubmit(f)">
    <div class="form-group">
      <label for="">First Name</label>
      <input type="text"
        placeholder="Full Name"
        class="form-control"
        name="fullName"
        ngModel
        #fullName ="ngModel"

        required
        >
        <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid"> Full Name is required</div>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" placeholder="Email" class="form-control" name="email" ngModel>
    </div>
    <div class="form-group">
      <label for=""><Address></Address></label>
      <textarea name="Address" id="Address" cols="30" rows="10" placeholder="Address" class="form-control" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>



